body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Helvetica, "Segoe UI",
		"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #900C3D;
	/* background-color: #F60F56; */
	/* background-color: #55FF00; */
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
